<form method="post" action="/addPlayer">
    <fieldset>
        <legend>Sign in</legend>

        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />
        </div>

        <div>
            <label for="age">Password:</label>
            <input type="text" id="age" name="age" required />
        </div>

        <div>
            <label for="hometown">Home Town:</label>
            <input type="text" id="hometown" name="hometown" required />
        </div>

        <div>
            <label for="school">School:</label>
            <input type="text" id="school" name="school" required />
        </div>

        <input type="submit" value="Sign in">

    </fieldset>
</form>
